<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Piacere!</h2>
                <hr class="light">
                <p class="text-faded">Sono un giovane Designer costantemente inpirato dalle persone che mi stanno intorno, dai colleghi, dalle nuove tecnologie e le tecniche di design all'avanguardia, da tutto ciò e qualsiasi cosa riguardi la musica e soprattutto dai film di serie B degli '80.</p>
                
            </div>
        </div>
    </div>
</section>
