<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Piacere!</h2>
                <hr class="light">
                <p class="text-faded">Sono un giovane Designer ispirato dalle persone che stanno intorno a me, dai colleghi, dalle nuove tecnologie e dal design d'avanguardia. Appassionato di qualsiasi cosa riguardi la musica e dei film di serie B anni '80.</p>
                
                
            </div>
        </div>
    </div>
</section>
