<header >
    
    <div class="containerBg "> 
        <video loop muted playsinline class="video" id="v0">

        <source src="https://giovannialvesr.github.io/SitoPortofolio/img/bg.webm" type="video/webm">
        <source src="https://giovannialvesr.github.io/SitoPortofolio/img/bg.mp4" onerror="fallback(parentNode)">
         <img src="https://giovannialvesr.github.io/SitoPortofolio/img/bg.gif">
        
      Your browser does not support the video tag.
      </video> </div>
      <script>var vid = document.getElementById('v0');
        //var vid = $('#v0')[0]; // jquery option
        
        // pause video on load
        vid.pause();
        
        // pause video on document scroll (stops autoplay once scroll started)
        window.onscroll = function(){
            vid.play();
        };
        
        </script>
    <div class="noise"></div>

    <div class="header-content invertedColor">
        
        <div class="header-content-inner " >
            <h1 class="ml16">GIOVANNI</h1><BR><h1 class="ml17"> ALVES REBEHY</h1>
            <hr>

                <h1 >Progettazione Grafica</h1>
            
            <hr>
            <a href="#portfolio" class="btn page-scroll">
                <div class="waviy">
                    <span style="--i:1">S</span>
                    <span style="--i:2">C</span>
                    <span style="--i:3">O</span>
                    <span style="--i:4">R</span>
                    <span style="--i:5">R</span>
                    <span style="--i:6">I</span>
                    
                   </div>
                   <i class="fa fa-4x fa-chevron-down text-primary" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
</header>
